html,body{
    background: #f9f9f9;
}

.header-placeholder{
    width: 60px;background: #f1f2f3;height: 25px;transform: translateY(-11px);
}

.header-placeholder-2{
    width: 60px;background: rgb(193, 224, 255);height: 25px;transform: translateY(11px)
}

.login-hover{
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    transform: translateY(-50px);
}

.login-card{
    background: #fff;
    z-index: 999;
    position: absolute;
    left: 32.5%;
    width: 35%;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 50px;
    top: 20%;
}

.login-card p{
    font-size: 1.3rem;
    font-weight: 300;
    color: #999;
    margin-bottom: 30px;
}

.login-card h1{
    margin-bottom: 0px;
}

.header-user{
    float: right;
    border: none;
    color: rgb(68, 68, 68);
    margin-top: -34px;
    margin-right: 15px;
}

.main-iframe{
    height:calc(100vh - 48px);
}

.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-container .left{
    width: 18.3333%;
    flex-basis:18.3333%;
    height: 100vh;
    background: #fff;
    border-right:1px solid #eee;
}

.main-container .center{
    width: 25.3333%;
    flex-basis:25.3333%;
    height: 100vh;
    background:#fff;
    border-right:1px solid #eee;
}

.main-container .right{
    width: 57.3333%;
    flex-basis:57.3333%;
    height: 100vh;
    background:#fff;
}

.class-item{
    width: 100%;
    margin-bottom: 0px;
    padding: 12px 10px;
    padding-left: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    transition: all .2s
}

.super{
    border-left : 4px solid rgb(3, 169, 244);
}

.class-item:hover{
    background: #f7f8f9;
}

.clicked{
    background: #f7f8f9 !important;
}

.class-item h3{
    margin: 0px;
    letter-spacing: .5px;
    color: #444;
}

.class-item em{
    background: rgb(3, 169, 244);
    padding: 0px 3px;
    border-radius: 3px;
    font-size: 1rem;
    color: #fff;
    margin-left: 5px;
    font-style: normal;
}

.class-item p{
    margin: 0px;
    font-size: 1rem;
    letter-spacing: .2px;
    color: #999;
    font-weight: 300;
    margin-top: -3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
}

.main-header{
    padding: 20px 25px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.main-header h3{
    margin: 0px;
    font-size:2rem;
}

.main-header p{
    margin: 0px;
    color:#999
}

.class-img-default{
    display: flex;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgb(50, 163, 191);
    margin-top: 2px;
}

.class-img-default p{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.3px;
}

.class-item-img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 2px;
    border: 1px solid #eee
}

.class-center{
    padding: 30px 35px;
}

.class-info-header{
    display: flex;
    width: 100%;
}

.class-info-info{
    width: 100%;
}

.class-info-info h2{
    margin: 0px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class-info-info p{
    margin: 0px;
    color: #999;
    letter-spacing: .3px;
    font-weight: 300;
}

.class-info-img{
    width: 52px !important;height: 52px !important;margin-top: 0px !important;
}

.class-info-img p{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 33px;
}

.class-info-admin{
    border-bottom: 4px solid #eee;
    padding: 10px;
    margin-top: 12px;
    background: #f7f8f9;
    text-align: center;
    font-size: 1.2rem;
    color: #999;
    letter-spacing: .5px;
}

.class-info-admin p{
    margin: 0px;
}

.class-info-des{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.class-info-des p{
    margin: 0px
}

.class-info-member{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.class-settings{
    font-size: 1.3rem;
    margin-top: 13px;
}

.class-info-member-icon{
    font-size: 1.7rem;
    color: #999;
    margin-top: 8px;
    padding-right: 10px;
}

.class-member-header{
    padding: 30px 40px;
    border-bottom: 1px solid #eee
}

.class-member-content{
    padding: 40px 45px;
}

.class-member-subscribe{
    margin-top: 23px;
    display: flex;
}

.class-member-subscribe button:nth-child(1){
    margin-right: 10px;
}

.class-member-img{
    width: 80px !important;height: 80px !important;margin-top: 0px !important;
}

.class-member-info h2{
    font-size: 2.4rem;
    max-width: 250px;
}

.class-member-info p{
    font-size: 1.3rem;
    letter-spacing: .5px;
    margin-left: 2px;
}

.class-member-img p{
    font-size: 3.5rem;
    margin-top: 40px;
}