html,body{
    background: #f9f9f9;
}

.header-placeholder{
    width: 60px;background: #f1f2f3;height: 25px;transform: translateY(-11px);
}

.header-placeholder-2{
    width: 60px;background: rgb(193, 224, 255);height: 25px;transform: translateY(11px)
}

.login-hover{
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0px;
}

.login-card{
    background: #fff;
    z-index: 999;
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 50px;
    width: 60vh;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.login-card p{
    font-size: 1.3rem;
    font-weight: 300;
    color: #999;
    margin-bottom: 30px;
}

.login-card h1{
    margin-bottom: 0px;
}

.header-user{
    float: right;
    border: none;
    color: rgb(68, 68, 68);
    margin-top: -34px;
    margin-right: 15px;
}

.main-iframe{
    height:calc(100vh - 48px);
}

.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-container .left{
    width: 18.3333%;
    flex-basis:18.3333%;
    height: 100vh;
    background: #fff;
    border-right:1px solid #eee;
    overflow-y: auto;
}

.main-container .center{
    width: 25.3333%;
    flex-basis:25.3333%;
    height: 100vh;
    background:#fff;
    border-right:1px solid #eee;
    overflow-y: auto;
}

.main-container .right{
    width: 57.3333%;
    flex-basis:57.3333%;
    height: 100vh;
    background:#fff;
    overflow-y: auto;
}

.class-item{
    width: 100%;
    margin-bottom: 0px;
    padding: 12px 10px;
    padding-left: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    transition: all .2s
}

.super{
    border-left : 4px solid rgb(3, 169, 244);
}

.class-item:hover{
    background: #f7f8f9;
}

.clicked{
    background: #f7f8f9 !important;
}

.class-item h3{
    margin: 0px;
    letter-spacing: .5px;
    color: #444;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
    white-space: nowrap;
}

.class-item em{
    background: rgb(3, 169, 244);
    padding: 0px 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
    font-style: normal;
}

.class-item p{
    margin: 0px;
    font-size: 11px;
    letter-spacing: .2px;
    color: #999;
    font-weight: 300;
    margin-top: -3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
}

.main-header{
    padding: 20px 25px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.main-header h3{
    margin: 0px;
    font-size:2rem;
}

.main-header p{
    margin: 0px;
    color:#999;
    font-weight: 300;
    margin-top: -3px;
}

.class-img-default{
    display: flex;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgb(50, 163, 191);
    margin-top: 2px;
}

.class-img-default p{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.3px;
}

.class-item-img{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 2px;
    border: 1px solid #eee
}

.class-center{
    padding: 30px 35px;
}

.class-info-header{
    display: flex;
    width: 100%;
}

.class-info-info{
    width: 100%;
}

.class-info-info h2{
    margin: 0px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: .5px;
}

.class-info-info p{
    margin: 0px;
    color: #999;
    letter-spacing: .3px;
    font-weight: 300;
}

.class-info-img{
    width: 52px !important;height: 52px !important;margin-top: 0px !important;
}

.class-info-img p{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 33px;
}

.class-info-admin{
    border-bottom: 4px solid #eee;
    padding: 10px;
    margin-top: 12px;
    background: #f7f8f9;
    text-align: center;
    font-size: 12px;
    color: #999;
    letter-spacing: .5px;
}

.class-info-admin p{
    margin: 0px;
}

.class-info-des{
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
}

.class-info-des p{
    margin: 0px
}

.class-info-member{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.class-settings{
    font-size: 1.3rem;
    margin-top: 13px;
}

.class-info-member-icon{
    font-size: 1.5rem;
    color: #999;
    margin-top: 8px;
    padding-right: 5px;
}

.class-member-header{
    padding: 30px 40px;
    border-bottom: 1px solid #eee
}

.class-member-content{
    padding: 40px 45px;
}

.class-member-subscribe{
    margin-top: 23px;
    display: flex;
}

.class-member-subscribe button:nth-child(1){
    margin-right: 10px;
}

.class-member-img{
    width: 80px !important;height: 80px !important;margin-top: 0px !important;
}

.class-member-info h2{
    font-size: 28px;
    max-width: 250px;
}

.class-member-info p{
    font-size: 15px;
    letter-spacing: .5px;
    margin-left: 2px;
}

.class-member-img p{
    font-size: 39px;
    margin-top: 40px;
}

.mes-item p{
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 23px;
    font-size: 15px;
    margin-bottom: 0px;
    color:#777;
}

.mes-item p i{
    font-size: 19px;
    transform: translateY(2px);
}

.mes-item p button{
    vertical-align: middle;
    position: absolute;
    right: 15px;
    font-size: 11px;
}

.mes-header{
    padding: 10px 23px;
    border-bottom: 1px solid #eee;
}

.mes-header p{
    font-size: 17px;
    margin: 0px;
    letter-spacing: .5px;
}

.mes-column{
    padding: 0px;
}

.mes-sub-header{
    margin: 0px;
    padding: 5px 23px;
    background: #f9f9f9;
    color: #999;
    letter-spacing: .1px;
}

.mes-stream-avatar{
    margin-right: 15px;
}

.mes-stream-avatar .class-img-default p{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px !important;
}

.mes-stream-avatar .class-img-default{
    width: 38px !important;
    height: 38px !important;
    margin-top: 2px !important;
}

.mes-container{
    padding-top: 10px;
    height: calc(100vh - 245px);
    overflow-y: auto;
    border-bottom: 1px solid #eee;
}

.mes-stream{
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.mes-stream-content{
    width:80%;
}

.mes-stream-content h3{
    margin: 0px;
    font-size: 15px;
    color: #333;
    margin-bottom: 2px;
}

.mes-stream-content h3 em{
    color: #999;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    letter-spacing: -.5px;
}

.mes-stream-content p{
    margin: 0px;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 300;
    margin-left: 1px;
}

.mes-stream-content .mes-content{
    margin: 0px;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 300;
    margin-left: 1px;
}

.mes-stream-image{
    max-width: 90%;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #eee;
    height: auto;
}

.right .ant-spin-container{
    height: calc(100vh - 35px) !important;
}

.mes-input{
    position: absolute;
    width: 81%;
    left: 9%;
    bottom: 40px;
    display: flex;
    transition: all .2s;
}

.mes-input-op{
    display: flex;
    position: absolute;
    bottom: -47px;
    left: 45px;
    width: calc(100% - 45px);
    background: #fff;
}

.mes-input textarea.ant-input{
    padding: 10px 13px;
}

.mes-input-normal textarea.ant-input{
    padding: 6px 10px 5px 10px;
}

.mes-input-op div:nth-child(1){
    width: 100%;
}

.mes-input-op div:nth-child(2){
    display: flex;
}

.mes-input-op div:nth-child(2) button:nth-child(2){
    margin-left: 10px;
}

.mes-container-normal{
    padding-top: 10px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    transition: all .2s;
}

.mes-input-normal{
    position: absolute;
    width: 81%;
    left: 9%;
    bottom: -12px;
    display: flex;
    transition: all .2s;
}

.mes-stream-file{
    border: 1px solid #eee;
    color: #555;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 60%;
}

.mes-stream-file div:nth-child(2) p{
    margin: 0px;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 300;
    margin-left: 1px;
    margin-top: -1px;
}

.mes-stream-file div:nth-child(2) h3{
    font-size: 16px !important;
}

.mes-stream-file div:nth-child(1){
    font-size: 31px;
    color: #f5222d;
    margin-top: -1px;
    margin-right: 10px;
}

#mes-inner{
    padding-bottom: 90px;
}

.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph{
    padding-left: 0px;
    margin-top: 0px;
}

.ant-skeleton-header{
    padding-top: 13px;
}

.mes-list{
    border-top: 2px solid rgb(50, 164, 255);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    display: flex;
}

.mes-list div:nth-child(1){
    width: 100%;
}

.mes-list div:nth-child(2){
    padding-top: 7px;
    display: flex;
}

.mes-list p:nth-child(1){
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -2px;
}

.mes-list p:nth-child(2){
    color: #999;
    font-size: 13px;
    font-weight: 300;
}

.mes-end{
    margin-top: 45px;
    margin-bottom: -25px;
    text-align: center;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    font-weight: 300;
}

.mes-stream-emoji{
    display: none;
}

.mes-display .mes-stream-emoji{
    display: flex !important;
    padding-top: 10px;
}

.mes-display .mes-stream-emoji .a-1{
    font-size: 20px;
    color: #F44336;
}

.mes-display .mes-stream-emoji .a-2{
    font-size: 20px;
    color: #FF9800;
    margin-left: 5px;
}

.mes-display .mes-stream-emoji .a-3{
    font-size: 20px;
    color: #9E9E9E;
    margin-left: 5px;
}

.mes-display .mes-stream-emoji .a-e{
    font-size: 20px;
    color: #999;
    margin-right: 10px;
}

.mes-display .mes-stream-emoji .a-d{
    font-size: 20px;
    color: #999;
    margin-right: 5px;
}

.mes-stream-emoji-display{
    margin-top: 7px;
}

.center .ant-skeleton-content .ant-skeleton-paragraph > li + li{
    width: 61%;
    margin-top: 10px;
}

.center .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph{
    padding-left: 0px;
    margin-top: 5px;
}

.left .ant-skeleton-content .ant-skeleton-paragraph > li + li{
    width: 61%;
    margin-top: 10px;
}

.left .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph{
    padding-left: 0px;
    margin-top: 5px;
}

.mes-stream-file-div{
    padding: 16px 23px 15px 28px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    display: flex;
}

.mes-stream-file-div-sub{
    display: flex;
    width: 100%;
}

.mes-stream-file-div h3{
    font-size: 19px;
    margin: 0px;
}

.mes-stream-file-div img{
    width: 40px;
    margin-top: 4px;
    height: 40px;
}

.mes-stream-file-profile{
    display: flex;
    padding-left: 40px;
    padding-right: 15px !important;
    margin: 0px !important;
    border-left: 1px solid #eee;
    margin-top: -21px !important;
    margin-bottom: -15px !important;
    padding-top: 20px;
}

.files-folder h3{
    max-width: 100% !important;
}

.files-folder p{
    max-width: 100% !important;
}

.class-invite{
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    margin-bottom: 10px;
    background: #02a9f4;
    color: #fff;
    margin-top: 10px;
    border-radius: 3px;
}

.class-invite a{
    color: #fff;
    font-size: 15px;
}

.class-invite-code {
    text-align: center;
}

.class-invite-code div{
    background-color: rgb(45, 183, 245);
    padding: 6px 18px;
    height: auto;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10px;
}

.class-invite-div{
    text-align: center;
}

.class-invite-div h2{
    margin-bottom: 0px;
}

.class-invite-div p:nth-child(1){
    color: #999;
    font-size: 15px;
    font-weight: 300;
}

.mes-new-notify{
    border-bottom: 2px solid #fec126 !important;
}

.mes-unread-notify{
    background: rgba(3, 169, 244, 0.7);
    color: #fff;
    text-align: center;
    padding: 3px 0px;
    transform: translateY(-25px);
}

.intro-p p{
    font-size: 15px;
    margin-bottom:5px
}

.header-logo{
    width: 19px;
    height: 20px;
}

.header-notice{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.header-notice p{
    margin: 0px;
}

.header-notice p b{
    margin-right: 10px;
}

.logs-info h3{
    color: #333;
    margin: 0px;
    font-size: 17px;
}

.logs-info h3 em:nth-child(2){
    font-style: normal;
    color: #999;
    font-weight: 300;
    background: #f1f2f3;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: capitalize;
    margin-left: 5px;
}

.logs-info h3 em:nth-child(1){
    font-style: normal;
    color: #999;
    font-weight: 300;
    font-size: 14px
}

.logs-info:nth-child(1){
    border-bottom: 1px solid #eee;
    padding-top: 0px;
    padding-bottom: 10px;
}

.logs-info{
    border-bottom: 1px solid #eee;
    padding: 12px 0px
}

.logs-info div:nth-child(2) p:nth-child(1){
    margin-bottom: 0px;
    margin-top: 2px;
    font-weight: 300;
}

.logs-info div:nth-child(2){
    border-left: 2px solid #eee;
    padding-left: 10px;
    color: #777;
    margin-top: 3px
}

.logs-info div:nth-child(2) p{
    margin-top: -2px;
    font-weight: 300;
    margin-bottom: 0px
}

.thread-notify{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFC107;
    margin-top: 16px;
    transform: translateX(-10px);
}